# Ignore from macOS:
.DS_Store

# Ignore file types in any location:
*.zip
*.icns
*.ico
*.svg
*.car
*.ids
*.jar

# Ignore if name starts with in any location:
OLD-*
hdsentinel-*

# Ignore specific project folder:
build/
dist/
libs/
private/
test/
Universal Binary Parts/
Licenses/
Twemoji/

# Ignore specific private source files:
PrivateStrings.java
